
$color-primary: #C09F66;
$color-secondary: #3A3D46;
$color-tertiary: #F1EDE8;
$color-muted-text: #777777;
$color-light: #FFFFFF;
$color-gradient-dark: #3A3D46;
$color-gradient-light: #4A3FC9;

$gutter-sm: 15px;
$gutter-md: 30px;
$gutter-lg: 50px;

$width-xs: 560px;
$width-sm: 720px;
$width-md: 960px;
$width-lg: 1200px;


@mixin padded {
    padding: $gutter-sm;

    @media (min-width: $width-sm) {
        padding: $gutter-md;
    }
}

@mixin gradient-bg {
    background: $color-secondary;
    background: linear-gradient(145deg, $color-gradient-dark 0%, $color-gradient-light 100%);
}

@mixin drop-shadow {
    box-shadow: 0 .4rem .7rem rgba(0,0,0,0.2);
}

@mixin deep-shadow {
    box-shadow: 0 .4rem 1rem rgba(0,0,0,0.4);
}

@mixin subtle-zoom {
    transform: scale(1.1); 
}

@mixin transition-all-2 {
    transition: all .2s ease-in-out;
}

@mixin button {
    display: inline-block;

    & > a:link,
    & > a:visited {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: $gutter-sm;
        text-decoration: none;
        color: $color-light;
        @include gradient-bg;
        @include drop-shadow;

        &::before {
            position: absolute;
            content: ' ';
            background-color: $color-secondary;
            top: 0;
            right: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            @include transition-all-2;
            z-index: 4;
        }

        &::after {
            position: absolute;
            content: ' ';
            background-color: $color-primary;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            @include transition-all-2;
            transition-delay: .1s;
            z-index: 5;
        }

        span {
            position: relative;
            z-index: 6;
            @include transition-all-2;
        }

        @media(min-width: $width-sm) {
            padding: $gutter-md;
        }
    }

    & > a:hover,
    & > a:active,
    & > a:focus {
        @include deep-shadow;

        span {
            @include subtle-zoom;
        }

        &::before {
            opacity: 0;
        }

        &::after {
            height: 4px;
        }
    }
}