
$color-primary: #C09F66;
$color-secondary: #3A3D46;
$color-tertiary: #F1EDE8;
$color-muted-text: #777777;
$color-light: #FFFFFF;
$color-gradient-dark: #3A3D46;
$color-gradient-light: #4A3FC9;

$gutter-sm: 15px;
$gutter-md: 30px;

$width-sm: 720px;
$width-md: 960px;
$width-lg: 1200px;


@mixin padded {
    padding: $gutter-sm;

    @media (min-width: $width-sm) {
        padding: $gutter-md;
    }
}

@mixin gradient-bg {
    background: $color-secondary;
    background: linear-gradient(145deg, $color-gradient-dark 0%, $color-gradient-light 100%);
}

@mixin drop-shadow {
    box-shadow: 0 .4rem .7rem rgba(0,0,0,0.2);
}

@mixin deep-shadow {
    box-shadow: 0 .4rem 1rem rgba(0,0,0,0.4);
}

@mixin subtle-zoom {
    transform: scale(1.1); 
}

@mixin transition-all-2 {
    transition: all .2s ease-in-out;
}