#about .container > h1:first-child {
    transition: color .5s ease-in-out;
}

#about:hover > .container > h1:first-child {
    color: @brand-primary;
}

#philosophy,
#technical {
    width: 100%;
    overflow: hidden;
}

#philosophy {
    padding-bottom: 5%;
}

#values,
#skills {
    position: relative;
    margin-bottom: @margin-bottom;
    overflow: hidden;
}

#heart {
    width: 100%;
    background-color: @brand-pink-light;
    border-radius: 6px;
    text-align: center;
    padding: 1.5rem 2rem;
    .csstransforms & {
        background: radial-gradient(ellipse at center, @brand-pink-light 0%, @brand-pink-dark 100%); 
    }
    .csstransforms &::after {
        content: ' ';
        position: absolute;
        top: 28%;
        left: 0;
        width: 150%;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
        transform: rotate(-17deg);
    }
}

@media (min-width: @screen-md) {
    #values,
    #strengths {
        .halfleft();
    }

    #beliefs,
    #skills {
        .halfright();
    }
}

#values-quote {
    float: left;
    clear: both;
    width: 100%;
    overflow: hidden;
    margin-top: 5%;
    blockquote {
        font-family: @font-family-vanderchalk;
        font-size: 20pt;
        text-align: center;
        line-height: 110%;
    }
}

#skillset {
    background-color: @brand-grey-medium;
    .container {
        & > h1 {
            margin-bottom: 4rem;
        }
        h1,
        h2,
        p,
        ul {
            color: @brand-beige;
        }
        h1,
        h2 {
            text-align: center;
        }
        .icon {
            display: block;
            width: 128px;
            height: 128px;
            margin: 0 auto 1.2rem auto;
            & > svg {
                width: 100%;
                height: auto;
            }
        }
        ul {
            padding-left: 0;
            text-align: center;
            & > li {
                list-style: none;
            }
        }
    }
}

.skillsets {
    width: 100%;
    overflow: hidden;
    & > div {
        margin-bottom: 4rem;
    }
}

@media (min-width: @screen-md) {
    .skillsets > div:first-child {
        .halfleft();
        margin-bottom: 0;
    }
    .skillsets > div:last-child {
        .halfright();
        margin-bottom: 0;
    }
}

#timeline {
    background-color: @brand-grey-lightest;
    .container {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    ol {
        position: relative;
        display: block;
        min-width: 22rem;
        margin: 6rem 0;
        padding: 0;
        list-style: none;
        background-color: @brand-grey-light;
        width: 100%;
        height: .3rem;
        border-radius: .5rem;
        transition: background-color .5s ease-in-out;
    }
    &:hover ol {
        background-color: @brand-primary;
    }
    li {
        position: absolute;
        display: inline-block;
        margin: 1.2rem 0 0 0;
        padding: 0;
        list-style: none;
        max-width: 20%;
    }
    li:nth-child(odd) {
        margin-top: -5.4rem;
        .year::before {
            display: none;
        }
        .milestone::after {
            display: inline-block;
        }
    }
    li:nth-child(1) {
        left: 0;
    }
    li:nth-child(2) {
        left: 4%;
    }
    li:nth-child(3) {
        left: 20%;
        .milestone::after {
            bottom: -1.8rem;
        }
    }
    li:nth-child(4) {
        left: 40%;
    }
    li:nth-child(5) {
        left: 75%;
    }
    li:nth-child(6) {
        left: 95%;
    }
    li:last-child {
        margin-right: 0;
    }
    .year,
    .milestone {
        display: block;
    }
    .year {
        position: relative;
        color: @brand-grey-medium;
        font-family: @font-family-vanderchalk;
        font-size: 16pt;
        transition: color .5s ease-in-out;
    }
    li:hover .year {
        color: @brand-primary;
    }
    .milestone {
        font-size: 10pt;
        line-height: 110%;
    }
    .year::before,
    .milestone::after {
        content: ' ';
        display: inline-block;
        position: absolute;
        top: -1rem;
        left: 0;
        width: .2rem;
        height: .7rem;
        background-color: @brand-grey-light;
        border-radius: .2rem;
        transition: background-color .5s ease-in-out;
    }
    .milestone::after {
        display: none;
        top: auto;
        bottom: -1rem;
    }
    &:hover .year::before,
    &:hover .milestone::after {
        background-color: @brand-primary;
    }
}

@media (min-width: @screen-md) {
    #timeline {
        .milestone {
            font-size: 11pt;
            line-height: 115%;
        }
        li:nth-child(odd) {
            margin-top: -4rem;
        }
        li:nth-child(3) {
            .milestone::after {
                bottom: -1rem;
            }
        }
    }
}

#portfolio {
    background-color: @brand-red;
    transition: background-color 1s ease-in-out;
    & > .container {
        position: relative;
        & > h1,
        & > h2 {
            color: white;
            text-align: center;
            transition: color 1s ease-in-out;
        }
        & > .menu {
            height: 10rem;
            margin: 0 -2rem 2rem -2rem;
            background-color: rgba(0,0,0,0.3);
            overflow-y: hidden;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            @media (min-width: @screen-md) {
                margin-bottom: 5rem;
            }
            & > ul {
                display: block;
                margin: 0;
                padding: 1rem;
                list-style: none;
                white-space: nowrap;
                & > li {
                    position: relative;
                    display: inline-block;
                    width: 8rem;
                    height: 8rem;
                    z-index: 2;
                    cursor: pointer;
                    &::before {
                        content: ' ';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: @brand-beige;
                        z-index: 3;
                        opacity: 0;
                        transition: all .2s ease-in-out;
                    }
                    &.active {
                        z-index: 4;
                        &::before {
                            opacity: 1;
                            transform: scale(1.1);
                        }
                    }
                    & > figure {
                        position: relative;
                        display: block;
                        width: 8rem;
                        height: 8rem;
                        overflow: hidden;
                        z-index: 5;
                        & figcaption {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            white-space: normal;
                            background-color: rgba(0,0,0,0.5);
                            padding: .5rem 1rem;
                            color: white;
                            opacity: 0;
                            transition: opacity .5s ease-in-out;
                            cursor: pointer;
                        }
                    }
                    @media (min-width: @screen-md) {
                        &:hover {
                            & > figure {
                                & > figcaption {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &[data-background="dark"] {
        background-color: @brand-grey-medium;
    }
    &[data-background="white"] {
        background-color: white;
        & > .container {
            & > h1,
            & > h2 {
                color: @brand-grey-medium;
            }
        }
    }
    &[data-background="light"] {
        background-color: @brand-beige;
        & > .container {
            & > h1,
            & > h2 {
                color: @brand-grey-medium;
            }
        }
    }
}

.project {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: opacity 1s ease-in-out, 
                height 1s ease-in-out;

    &[data-hidden] {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
    }

    .no-js &,
    &[data-background="primary"],
    &[data-background="dark"] {
        h3,
        h4,
        ul,
        ol,
        p,
        a:link,
        a:visited,
        figure > img {
            color: white;
        }
        a:hover,
        a:active {
            color: @brand-primary;
        }
        a:link::after,
        a:visited::after {
            background-color: white;
        }
    }

    &[data-background="white"] {
        h3,
        h4,
        ul,
        ol,
        p,
        figure > img {
            color: @brand-grey-medium;
        }
    }

    & > figure {
        margin-bottom: 10%;
        background-image: url("../images/loading.svg");
        background-repeat: no-repeat;
        background-position: center center;

        & > img {
            display: block;
            width: 100%;
            height: auto;
            overflow: hidden;
            &.alt {
                display: none;
            }
        }
    }
}

@media (min-width: @screen-md) {
    .project {
        margin-bottom: 10%;
        & > figure {
            .halfright();
            margin-bottom: 0;
            background-position: 52% center;
        }

        & > .description {
            .halfleft();
        }
    }
}

#contact {
    background-color: @brand-grey-medium;
    .container {
        & > h1,
        & > h2 {
            color: @brand-beige;
            text-align: center;
        }
    } 
}

#networks {
    margin: @margin-bottom 0;
    text-align: center;
    ul,
    li {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        text-align: center;
        z-index: 2;
        line-height: 100%;
    }
    a {
        position: relative;
        display: table-cell;
        width: 70px;
        height: 70px;
        color: white;
        vertical-align: middle;
        z-index: 5;
        &::after {
            display: none;
        }
    }
    li::before {
        content: ' ';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: @brand-beige;
        z-index: 3;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
    li:hover {
        z-index: 4;
        &::before {
            opacity: 1;
            transform: scale(1.1);
        }
    }
    li img {
        display: inline-block;
    }
    li.twitter a {
        background-color: @social-twitter;
    }
    li.pinterest a {
        background-color: @social-pinterest;
    }
    li.linkedin a {
        background-color: @social-linkedin;
    }
    li.github a {
        background-color: @social-github;
    }
    li.soundcloud a {
        background-color: @social-soundcloud;
        background: linear-gradient(to bottom, @social-soundcloud-light 0%, @social-soundcloud 100%);
    }
}

#email {
    margin: (@margin-bottom * 2) 0;
    text-align: center;
    a:link,
    a:visited {
        display: inline-block;
        margin: 0 auto;
        padding: 1rem 2rem;
        color: @brand-beige;
        background-color: transparent;
        border: 5px solid @brand-beige;
        font-size: 10pt;
        text-transform: uppercase;
        letter-spacing: .2rem;
        transition: all .2s ease-in-out;
    }
    a:hover,
    a:active {
        color: @brand-grey;
        background-color: @brand-beige;
        border-color: @brand-beige;
    }
    .csstransitions & a:link::after,
    .csstransitions & a:visited::after {
        bottom: -2px;
        background-color: @brand-beige;
    }

    .csstransitions & a:hover::after,
    .csstransitions & a:active::after {
        background-color: transparent;
    }
}

@media (min-width: @screen-md) {
    #networks a {
        width: 120px;
        height: 120px;
    }
    #networks img {
        width: 64px;
        height: 64px;
    }
}
