
.post.format-standard,
.page {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 0 2rem 0;
    background-color: $tertiary;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;

    & > header {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        order: 3;

        & > .container {
            display: flex;
            flex-direction: column;
            padding: 0 20% .5rem 25px;
        }

        & .post-title {
            max-width: 75%;
            order: 2;

            & > a:link,
            & > a:visited {
                color: $tertiary;
                text-decoration: none;
            }
        }

        & .post-category {
            order: 1;
            @include hint();
            font-size: .7rem;


            @media (min-width: 768px) {
                font-size: 1rem;
            }

            & > a:link,
            & > a:visited {
                color: #999;
                text-decoration: none;
            }
        }

        & .post-excerpt {
            order: 3;
            
            & > .container {
                padding-left: 25px;
                padding-right: 25%;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.header-location-top > header {
        order: 1;
    }

    &.header-style-seamless-light > header,
    &.header-style-seamless-dark > header {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 12;
        background-color: transparent;
    }

    &.header-style-seamless-light.header-location-bottom > header,
    &.header-style-seamless-dark.header-location-bottom > header {
        bottom: 0;
    }

    &.header-style-seamless-dark > header {
        .post-title {
            color: white;

            & > a:link,
            & > a:visited {
                color: white;
            }
        }

        .post-excerpt {
            color: white;
        }

        .post-category {
            & > a:link,
            & > a:visited {
                color: #CCC;
            }
        }
    }

    &.header-gradient-black,
    &.header-gradient-white,
    &.header-gradient-primary,
    &.header-gradient-secondary,
    &.header-gradient-tertiary,
    &.header-gradient-header-colour {
        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            right: 0;
            height: 40%;
            z-index: 11;
        }

        &.header-location-top:after {
            top: 0;
        }

        &.header-location-bottom:after {
            bottom: 0;
        }
    }

    &.header-gradient-black:after { background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 50%); }
    &.header-gradient-white:after { background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%); }
    &.header-gradient-primary:after { background: linear-gradient(to bottom, rgba($primary ,0) 0%,rgba($primary, 0.8) 50%); }
    &.header-gradient-secondary:after { background: linear-gradient(to bottom, rgba($secondary ,0) 0%,rgba($secondary, 0.8) 50%); }
    &.header-gradient-tertiary:after { background: linear-gradient(to bottom, rgba($tertiary ,0) 0%,rgba($tertiary, 0.8) 50%); }

    & > .post-thumbnail {
        position: relative;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        z-index: 11;
        margin: 0 -9999px;
        padding: 0 0 100% 0;
        order: 2;

        & > img {
            position: absolute;
            top: 0;
            display: block;
            height: 100%;
            width: auto;
            margin: 0 auto;
        }
    }

    &.header-style-seamless-light > .post-thumbnail,
    &.header-style-seamless-dark > .post-thumbnail {
        padding-bottom: 135%;
    }

    & > .entry-content {
        order: 3;
        background-color: white;

        & > .basic-content {
            & > .container {
                padding-top: 2rem;
                padding-bottom: 3rem;
            }
        }
    }

    & > .shade {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 13;
        transition: all .3s ease;
        border-radius: 2rem;
    }
}



.post.format-quote,
.post.format-aside {
    margin: -7rem -30px -6rem;
    padding: 10rem 15px;
    background-color: $tertiary;

    @media (min-width: 576px) {
        margin-left: -9999px;
        margin-right: -9999px;
    }

    & > header {
        & > .header-container {
            display: none;
        }
    }

    .post-excerpt {
        & > .container {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 2rem;
            font-weight: 200;
            color: $secondary;
        }
    }
}



.post.format-quote {
    background-color: $primary;

    .post-excerpt {
        & > .container {
            font-style: italic;
            text-align: center;
            color: white;
        }
    }
}



#single-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 13;
    transition: all .3s ease;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .admin-bar & {
        padding-top: 46px;

        @media (min-width: 782px) {
            padding-top: 32px;
        }
    }

    & > .close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        padding: .45rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow: none;
        border-radius: 100%;
        text-align: center;
        z-index: 14;
    }

    .admin-bar & > .close {
        top: 4rem;
    }

    .post.format-standard {
        &.header-style-seamless-light > header,
        &.header-style-seamless-dark > header {
            position: relative;
        }

        &.header-location-top > header > .container {
            padding-top: 3rem;
        }

        &.header-gradient-black,
        &.header-gradient-white,
        &.header-gradient-primary,
        &.header-gradient-secondary,
        &.header-gradient-tertiary,
        &.header-gradient-header-colour {
            &:after {
                display: none;
            }
        }
    }

    & > .content {
        & > .post.format-standard,
        & > .page {
            margin: 0;
            border-radius: 0;

            & > header {
                & > .container {
                    padding-left: 30px;

                    @media (min-width: 576px) {
                        padding-left: 15px;
                    }
                }

                & .post-excerpt {
                    & > .container {
                        padding-left: 30px;

                        @media (min-width: 576px) {
                            padding-left: 15px;
                        }
                    }
                }
            }

            & > .post-thumbnail {
                width: 100%;
                margin: 0 auto;
                padding-bottom: 0;
                img {
                    position: relative;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .page {
            & > header {
                padding-top: 7rem;
            }

            &.has-post-thumbnail > header {
                padding-top: 3rem;
            }           
        }
    }
}



body.single,
body.page {
    & > header {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 12;
        background-color: transparent;
    }

    .main-container {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;

        .admin-bar & {
            padding-top: 46px;

            @media (min-width: 782px) {
                padding-top: 32px;
            }
        }

        .admin-bar & > .close {
            top: 4rem;
        }

        .post.format-standard,
        .page {
            margin: 0;
            border-radius: 0;
        }

        .post.format-standard {
            &.header-style-seamless-light > header,
            &.header-style-seamless-dark > header {
                position: relative;
            }

            &.header-location-top > header > .container {
                padding-top: 3rem;
            }

            &.header-gradient-black,
            &.header-gradient-white,
            &.header-gradient-primary,
            &.header-gradient-secondary,
            &.header-gradient-tertiary,
            &.header-gradient-header-colour {
                &:after {
                    display: none;
                }
            }
        }

        .page {
            & > header {
                padding-top: 7rem;

                & > .container,
                & > .post-excerpt > .container {
                    padding-left: 15px;
                }

            }            
        }

    }
}



.no-posts {
    margin: -7rem -30px -6rem;
    padding: 10rem 15px;
    background-color: $secondary;
    text-align: center;

    @media (min-width: 576px) {
        margin-left: -9999px;
        margin-right: -9999px;
    }
}

.search-term {
    background-color: white;
    font-style: italic;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;

    &:before {
        content: '\2018';
    }

    &:after {
        content: '\2019';
    }
}

.search-return {
    padding: 1rem;
    text-align: center;

    a:link,
    a:visited {
        @include btn();
        color: $tertiary;
        background-color: $secondary;
    }
}


