
.post.format-standard {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 0 2rem 0;
    background-color: $tertiary;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;

    & > header {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        order: 3;

        & > .container {
            display: flex;
            flex-direction: column;
            padding: 0 25% .5rem 25px;
        }

        & .post-title {
            max-width: 75%;
            order: 2;

            & > a:link,
            & > a:visited {
                color: black;
                text-decoration: none;
            }
        }

        & .post-category {
            order: 1;
            @include hint();

            & > a:link,
            & > a:visited {
                color: #999;
                text-decoration: none;
            }
        }

        & .post-excerpt {
            order: 3;
            
            & > .container {
                padding-left: 25px;
                padding-right: 25%;
            }

            & > *:last-child {
                margin-bottom: 0;
            }
        }
    }

    &.header-location-top > header {
        order: 1;
    }

    &.header-style-seamless-light > header,
    &.header-style-seamless-dark > header {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 12;
        background-color: transparent;
    }

    &.header-style-seamless-light.header-location-bottom > header,
    &.header-style-seamless-dark.header-location-bottom > header {
        bottom: 0;
    }

    &.header-style-seamless-dark > header {
        .post-title {
            & > a:link,
            & > a:visited {
                color: white;
            }
        }

        .post-excerpt {
            color: white;
        }

        .post-category {
            & > a:link,
            & > a:visited {
                color: #CCC;
            }
        }
    }

    & > .post-thumbnail {
        position: relative;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        z-index: 11;
        margin: 0 -9999px;
        order: 2;

        & > img {
            position: relative;
            display: inline-block;
            height: 100%;
            width: auto;
            margin: 0 auto;
        }
    }

    & > .entry-content {
        order: 3;
        background-color: white;

        & > .basic-content {
            & > .container {
                padding-top: 2rem;
                padding-bottom: 3rem;
            }
        }
    }

    & > .shade {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 13;
        transition: all .3s ease;
        border-radius: 2rem;
    }
}



.post.format-quote,
.post.format-aside {
    margin: -7rem -9999px -6rem;
    padding: 10rem 15px;
    background-color: $tertiary;

    & > header {
        & > .header-container {
            display: none;
        }
    }

    .post-excerpt {
        & > .container {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 2rem;
            font-weight: 200;
            color: $secondary;
        }
    }
}



.post.format-quote {
    background-color: $primary;

    .post-excerpt {
        & > .container {
            font-style: italic;
            text-align: center;
            color: white;
        }
    }
}



#single-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 13;
    transition: all .3s ease;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .admin-bar & {
        padding-top: 46px;

        @media (min-width: 782px) {
            padding-top: 32px;
        }
    }

    & > .close {
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
        padding: .45rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-shadow: none;
        border-radius: 100%;
        text-align: center;
        z-index: 14;
    }

    .admin-bar & > .close {
        top: 4rem;
    }

    .post.format-standard.header-location-top > header > .container {
        padding-top: 3rem;
    }

    & > .content {
        & > .post.format-standard {
            margin: 0;
            border-radius: 0;

            & > header {
                & > .container {
                    padding-left: 15px;
                }

                & .post-excerpt {
                    & > .container {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}
