@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,200i,400,400i,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: $tertiary;
}

h1,
h2 {
    letter-spacing: -0.05rem;
}

h1 { font-size: 1.5rem }
h2 { font-size: 1.3rem }
h3 { font-size: 1rem }
h4 { font-size: .8rem }
h5 { font-size: .7rem }
h6 { font-size: .6rem }

@media (min-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 { margin-bottom: .75rem; }
    body { font-size: 1rem }
    h1 { font-size: 2.2rem }
    h2 { font-size: 1.8rem }
    h3 { font-size: 1.5rem }
    h4 { font-size: 1.2rem }
    h5 { font-size: 1rem }
    h6 { font-size: .8rem }
}

@mixin hint() {
    color: #999;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}