<head>
    <title>{{ .Title }}</title>

    <meta charset="UTF-8">
    <meta name="language" content="{{ .Site.LanguageCode }}">
    <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
    <meta name="keywords" content="{{ if .Keywords}}{{ delimit .Keywords " , " }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    {{ $sass := resources.Get "scss/main.scss"  | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $sass.Permalink }}">
</head>