<head>
    <title>{{ .Title }}</title>

    <meta charset="UTF-8">
    <meta name="language" content="{{ .Site.LanguageCode }}">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Page.Params.Description }}{{ end }}">
    <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ else }}{{ delimit $.Site.Params.Keywords ", " }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Check browser for Webp support: -->
    <script src="{{ print "js/modernizr-custom.js" | absURL }}"></script>
    <script src="{{ print "js/ejangi.js" | absURL }}"></script>
    {{ if .Site.Params.CredlyId }}
    <script src="//cdn.credly.com/assets/utilities/embed.js" defer async></script>
    {{ end }}

    {{ if (fileExists "static/images/favicon.svg") -}}
    <link rel="icon" type="image/svg+xml" href="{{ print "images/favicon.svg" | absURL }}" fetchpriority="low">
    {{- end }}
    {{ if (fileExists "static/images/favicon-alt.png") -}}
    <link rel="alternate icon" href="{{ print "images/favicon-alt.png" | absURL }}" fetchpriority="low">
    {{- end }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ $sass := resources.Get "scss/main.scss"  | css.Sass (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="{{ $sass.Permalink }}">

    {{ if .Site.Config.Services.GoogleAnalytics.ID }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Config.Services.GoogleAnalytics.ID }}"></script>
    <script>
        if (navigator.doNotTrack == undefined && window.doNotTrack == undefined && location.hostname != "localhost") {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ .Site.Config.Services.GoogleAnalytics.ID }}');
        }
    </script>
    {{ end }}
</head>
