{{ if .Page.Params.Icon }}
{{ $image := .Page.Resources.GetMatch (printf "*%s" .Page.Params.Icon) }}
{{ $webpOneXUrl := "" }}
{{ $webpTwoXUrl := "" }}
{{ $backupUrl := "" }}
{{ if in $image.RelPermalink "png" }}
    {{ $webpOneXUrl = ($image.Resize "256x webp q90").RelPermalink | absURL }}
    {{ $webpTwoXUrl = ($image.Resize "512x webp q90").RelPermalink | absURL }}
    {{ $backupUrl = ($image.Resize "128x").RelPermalink | absURL }}
{{ else }}
    {{ $backupUrl = $image.RelPermalink | absURL }}
{{ end }}
<picture class="icon">
    {{ if $webpOneXUrl }}<source srcset="{{ $webpOneXUrl }} 1x, {{ $webpTwoXUrl }} 1.5x" type="image/webp">{{ end }}
    <img src="{{ $backupUrl }}" loading="lazy" />
</picture>
{{ end }}