{{ define "main" }}
<article class="article section-{{ .Section }}{{ with .File }} file-{{ .ContentBaseName }}{{ end }}">
    <header>
        {{ partial "icon.html" .}}
        <h1>{{ .Title }}</h1>
        {{ if ne .Section "projects" }}
        <p class="date">{{ .Date.Format "Monday, 2 January, 2006" }}</p>
        {{ end }}
    </header>
    <section class="content">
        <div class="container">
            {{ if .Params.problem -}}
                {{ partial "problem.html" .}}
            {{- end }}
            {{ .Content }}
        </div>
    </section>
    {{ if .Params.key }}
        {{ partial "key-contributions.html" .}}
    {{ end }}
</article>
{{ end }} 