{{ define "main" }}
<section id="intro">
    <div class="two-up">
        <div class="business-card">
            <div class="profile">
                {{ if .Site.Params.ProfilePhoto }}
                <div class="profile-photo"><img src="{{ print .Site.Params.ProfilePhoto | absURL }}" alt="{{ .Site.Title }}"></div>
                {{ end }}
                <div class="profile-attributes">
                    <h1>{{ .Site.Title }}</h1>
                    <p>{{ .Site.Params.CurrentJobTitle }}</p>
                    <p><a href="mailto:{{ .Site.Params.EmailAddress }}">{{ .Site.Params.EmailAddress }}</a></p>
                </div>
            </div>

            <div class="location"><p><img src="{{ print "svg/location.svg" | absURL }}" width="9" height="12"> <small>{{ .Site.Params.Location }}</small></p></div>
        </div>
        
        <div class="core-philosophy">
                {{ if .Site.Params.CorePhilosophy -}}
                <div class="quote">
                    <p><q>{{ .Site.Params.CorePhilosophy }}</q></p>
                </div>
                {{- end }}
                {{ if .Site.Params.Expertise -}}
                <div class="roles">
                    {{- $expertise := .Site.Params.Expertise  -}}
                    <p>{{ range $expi, $exp := $expertise }}<strong>{{ $exp }}</strong>{{ if ne $expi (sub (len $expertise) 1) }} &#x2022; {{ end }}{{ end }}</p>
                </div>
                {{- end }}
        </div>
        {{ if or (fileExists "static/images/core-philosophy-bg.webp") (fileExists "static/images/core-philosophy-bg.jpg") }}
        <style>
            {{ if (fileExists "static/images/core-philosophy-bg.webp") }}
            .webp #intro .core-philosophy {
                background-image: url('{{ print "images/core-philosophy-bg-1x.webp" | absURL }}');
            }
            @media (-webkit-min-device-pixel-ratio: 2) { 
                .webp #intro .core-philosophy {
                    background-image: url('{{ print "images/core-philosophy-bg.webp" | absURL }}');
                }
            }
            {{ end }}
            {{ if (fileExists "static/images/core-philosophy-bg.jpg") }}
            .no-webp #intro .core-philosophy {
                background-image: url('{{ print "images/core-philosophy-bg-sm.jpg" | absURL }}');
            }
            @media (-webkit-min-device-pixel-ratio: 2) { 
                .no-webp #intro .core-philosophy {
                    background-image: url('{{ print "images/core-philosophy-bg.jpg" | absURL }}');
                }
            }
            {{ end }}
        </style>
        {{ end }}
    </div>
</section>

<section id="projects">
    <div class="container">
        <h2>Projects</h2>
        <h3>A selection of works</h3>

        <div class="article-list">
            {{ range where .Site.Pages.ByDate.Reverse "Section" "projects" }}
            {{ if ne .Kind "section" }}
            {{ partial "li.html" .}}
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

{{ with .Site.GetPage "/about" }}
<section id="about">
    <div class="container">
        <h2>{{ .Title }}</h2>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
    {{ if .Params.quote }}
    <div class="quote">
        <p><q>{{ .Params.quote }}</q></p>
    </div>
    {{ end }}
</section>
{{ if or (fileExists "static/images/about-bg.webp") (fileExists "static/images/about-bg.jpg") }}
<style>
    {{ if (fileExists "static/images/about-bg.webp") }}
    .webp #about {
        background-image: url('{{ print "images/about-bg-1x.webp" | absURL }}');
    }
    @media (-webkit-min-device-pixel-ratio: 2) { 
        .webp #about {
            background-image: url('{{ print "images/about-bg.webp" | absURL }}');
        }
    }
    {{ end }}
    {{ if (fileExists "static/images/about-bg.jpg") }}
    .no-webp #about {
        background-image: url('{{ print "images/about-bg-sm.jpg" | absURL }}');
    }
    @media (-webkit-min-device-pixel-ratio: 2) { 
        .no-webp #about {
            background-image: url('{{ print "images/about-bg.jpg" | absURL }}');
        }
    } 
    {{ end }}
</style>
{{ end }}
{{ end }}

<section id="gold">
    <div class="container">
        <h2>Gold</h2>
        <h3>Things I'm enjoying at the moment</h3>

        <div class="article-list">
            {{ range first 5 (where .Site.Pages.ByDate.Reverse "Section" "gold") }}
            {{ if ne .Kind "section" }}
            <article class="list-item kind-{{ .Kind }} type-{{ .Type }}">
                <a href="{{ .Params.link }}" target="_blank">
                    {{ partial "icon.html" .}}
                    <span class="title">{{ .Title }}</span>
                </a>
            </article>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <h2>Contact</h2>
        <h3>Connect with me on the following networks</h3>
        <div class="content">
            <div class="socials">
                {{ if .Site.Params.LinkedIn }}
                <div class="social linkedin"><a href="{{ .Site.Params.LinkedIn }}" target="_blank"><img src="{{ print "svg/linkedin.svg" | absURL }}" width="32" height="32" alt="LinkedIn" loading="lazy"></a></div>
                {{ end }}
                {{ if .Site.Params.Twitter }}
                <div class="social twitter"><a href="{{ .Site.Params.Twitter }}" target="_blank"><img src="{{ print "svg/twitter.svg" | absURL }}" width="32" height="32" alt="Twitter" loading="lazy"></a></div>
                {{ end }}
                {{ if .Site.Params.Github }}
                <div class="social github"><a href="{{ .Site.Params.Github }}" target="_blank"><img src="{{ print "svg/github.svg" | absURL }}" width="32" height="32" alt="Github" loading="lazy"></a></div>
                {{ end }}
                {{ if .Site.Params.Trailblazer }}
                <div class="social trailblazer"><a href="{{ .Site.Params.Trailblazer }}" target="_blank"><img src="{{ print "images/ranger.png" | absURL }}" width="32" height="32" alt="Trailblazer" loading="lazy"></a></div>
                {{ end }}
            </div>
            <p class="email"><a href="mailto:{{ .Site.Params.EmailAddress }}"><span>{{ .Site.Params.EmailAddress }}</span></a></p>
            <p>For additional privacy, my <a href="{{ print .Site.Params.PGPKey | absURL }}">PGP Public Key</a>.</p>
        </div>
    </div>
</section>
{{ end }}